span {
    float: right;
}

a {
    color: black
}

a:hover {
    color: #1d79ff;
}

i {
    font-size: 1.7em;
}

.img-thumbnail {
    margin: 25px;
    width: 85%;
    height: 85%
}

.card-body {
    padding: 0 25px;    
}

.card-footer {
    padding: 10px 15px;
    background-color: #fff;
    border-top: none;
}

.card {
    display: flex;
    justify-items: center;
}

#links {
    display: flex;
    justify-items: right;
    justify-content: space-evenly;
}