img {
    width: 14rem;
    height: 14rem;
}

/* .container {
    background-image: url('../../assets/homepage-hero-image.png');
    background-repeat: no-repeat;
    background-size: auto 768px;
    background-position: center bottom;
    height: 89vh;        
    padding: 25px;
} */
