<div class="row">
    <div class="col-12">
        <div class="background">
            <div class="title">
                <h1>Members</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
                    placeholder="Filter by name">
            </div>
        </div>

    </div>
</div>

<div class="member-cards">  
    <div class="row">
        <div class="col-2" *ngFor="let member of members$ | async | filter:searchText">
            <app-member-card [member]="member"></app-member-card>
        </div>
    </div>
</div>

<div class="member-table">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>                
                <th class="email">Email Address</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let member of members$ | async | filter:searchText">
                <td><img src="../../../assets/user.png" alt="{{member.name}}"></td>
                <td>{{member.name}}</td>                
                <td class="email">{{member.email}}</td>
                <td><button class="btn btn-sm btn-primary" routerLink="/members/{{member.uniqueID}}">View Details</button></td>
            </tr>
        </tbody>
    </table>
</div>