<nav class="navbar navbar-expand-md navbar-light fixed-top">
  <div class="container">
    <a  class="navbar-brand" 
        routerLink="/" 
        routerLinkActive="active">
        <img src="../../assets/noviams-full-color-logo.svg" alt="Novi AMS SVG"/>
    </a>
    
    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      <ng-container>
        <li class="nav-item">
          <a class="nav-link" routerLink="/members" routerLinkActive="active">Members</a>
        </li>       
      </ng-container> 
    </ul>    
  </div>
</nav>